# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/cypress/videos
/cypress/screenshots

# Production build
/dist/
/build/
/out/
/.next/

# Assets générés
/public/thumbnails/
/public/assets/
/public/media/
/assets/thumbnails/

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Éditeurs de code
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/
*.code-workspace

# Système d'exploitation
.DS_Store
Thumbs.db
desktop.ini
*.swp
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?